<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hscryptoUserid</key>
	<string>REPLACEME.hscryptoServiceName.userid</string>
	<key>pushApikey</key>
	<string>REPLACEME.pushServiceName.apikey</string>
	<key>hscryptoIam_apikey_name</key>
	<string>REPLACEME.hscryptoServiceName.iam_apikey_name</string>
	<key>pushAppGuid</key>
	<string>REPLACEME.push.app.guid</string>
	<key>hscryptoPassword</key>
	<string>REPLACEME.hscryptoServiceName.password</string>
	<key>pushIam_apikey_description</key>
	<string>REPLACEME.pushServiceName.iam_apikey_description</string>
	<key>pushIam_role_crn</key>
	<string>crn:v1:bluemix:public:iam::::serviceRole:Writer</string>
	<key>hscryptoIam_apikey_description</key>
	<string>REPLACEME.hscryptoServiceName.iam_apikey_description</string>
	<key>pushIam_apikey_name</key>
	<string>REPLACEME.pushServiceName.iam_apikey_name</string>
	<key>pushUrl</key>
	<string>REPLACEME.pushServiceName.url</string>
	<key>pushIam_serviceid_crn</key>
	<string>REPLACEME.pushServiceName.iam_serviceid_crn</string>
	<key>pushClientSecret</key>
	<string>REPLACEME.pushServiceName.clientSecret</string>
	<key>pushPlan</key>
	<string>LITE</string>
	<key>hscryptoApikey</key>
	<string>REPLACEME.hscryptoServiceName.apikey</string>
	<key>hscryptoIam_serviceid_crn</key>
	<string>REPLACEME.hscryptoServiceName.iam_serviceid_crn</string>
	<key>hscryptoIam_role_crn</key>
	<string>crn:v1:bluemix:public:iam::::serviceRole:Reader</string>
	<key>pushAdmin_url</key>
	<string>REPLACEME.pushServiceName.admin_url</string>
	<key>appName</key>
	<string>swiftmbaas</string>
</dict>
</plist>
